<div class="navbar-form navbar-left">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= t("questions.state") %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to  t("questions.statuses.all"),
        admin_questions_path(option: :all) %></li>
      <li><%= link_to  t("questions.statuses.accepted"),
        admin_questions_path(option: :accepted) %></li>
      <li><%= link_to  t("questions.statuses.waitting"),
        admin_questions_path(option: :waitting) %></li>
    </ul>
  </div>
</div>
