@import "bootstrap-sprockets";
@import "bootstrap";

.option-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fields {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add_fields {
  margin-top: 10px;
}
