@import "bootstrap-sprockets";
@import "bootstrap";

.option-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fields {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add_fields {
  margin-top: 10px;
}

.number_id {
  width: 5%;
}

.content {
  width: 60%;
}
#user-table .content {
  width: 40%;
}

.subject {
  width: 10%;
}

.type {
  width: 10%;
}

.state {
  width: 10%;
}

.action {
  width: 20%;
}
