<div class="col-md-12 col-md-offset-0">
  <%= form_for @exam do |f| %>
    <ol>
      <%= f.fields_for :sections do |section| %>
        <%= render "question_result", f: section %>
      <% end %>
    </ol>
  <% end %>
</div>
