%header.navbar.navbar-inverse
  %div.col-md-3.col-md-offset-1
    %ul.nav.navbar-nav
      %li
        = link_to image_tag( 'logo.png'),'/'
  %div.col-md-5.col-md-offset-2
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to t("home"), root_path
        - if user_signed_in?
          = render "layouts/menu"
        - else
          %li
            = link_to t("login"), new_user_session_path
